/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* style.css */
body {
  padding: 20px;
}

.form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.gallery-item {
  flex: 0 1 250px;
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.info {
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.hidden {
  display: none;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  border: 1px solid #4e75ff;
}